$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;

$dark: #112c47;
$warning: #74991d ;

@media (min-width: 992px) {
    .alto-100 {
        height: 100vh !important;
    }
}

.d-flex img {
    width: 50px;
    height: 50px;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);

@import "../node_modules/bootstrap/scss/bootstrap";